@import "@/styles/varibles";

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1260px;
  margin: auto;
  padding: 0 30px;
  column-gap: 30px;
  .logoContent{
    width: 100px;
    height: 100px;
  background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
color: #fff;
border-radius: 50%;

    font-family: UbuntuBold, sans-serif;
  }
  .menu{
    display: flex;
    align-items: center;
    column-gap: 10px;
    box-shadow: 0 0 3px red;
  }
  .link{
    width: 100px;
    border: 1px solid rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: center;

    color: $deepSapphire;
    font-family: UbuntuBold, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }
}