@font-face {
  font-family: UbuntuLight;
  src: url('../public/fonts/Ubuntu/Ubuntu-Light.ttf');
}

@font-face {
  font-family: UbuntuLightItalic;
  src: url('../public/fonts/Ubuntu/Ubuntu-LightItalic.ttf');
}

@font-face {
  font-family: UbuntuRegular;
  src: url('../public/fonts/Ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: UbuntuMedium;
  src: url('../public/fonts/Ubuntu/Ubuntu-Medium.ttf');
}

@font-face {
  font-family: UbuntuMediumItalic;
  src: url('../public/fonts/Ubuntu/Ubuntu-MediumItalic.ttf');
}

@font-face {
  font-family: UbuntuBold;
  src: url('../public/fonts/Ubuntu/Ubuntu-Bold.ttf');
}

@font-face {
  font-family: UbuntuBoldItalic;
  src: url('../public/fonts/Ubuntu/Ubuntu-BoldItalic.ttf');
}