$white:#fff;
$paleGrey: #FDFDFF;
$whiteSmoke: #F4F4F3;
$linkWater: rgba(253, 253, 255, 0.80);

$black:#000;

$goldenBrown: #F3BD1B;
$candlelight: #FFDA22;

$navy: #001D4A;
$deepSapphire: #072765;
$greyishBlue8: rgba(7, 39, 101, .8);
$greyishBlue6: rgba(7, 39, 101, .6);
$greyishBlue4: rgba(7, 39, 101, .4);

$err: #F86565;


